{% extends 'base.html.twig' %}

{% block title %}Post | {{ parent() }}{% endblock %}

{% block body %}
    <div>
        <h1>{{ controller_name }}</h1>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Published</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.published ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_post_show', {'id': post.id}) }}">show</a>
                        {% if is_granted('POST_EDIT', post) %}
                        <a href="{{ path('app_post_edit' , {'id': post.id}) }}">edit</a>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>


            <a href="{{ path('app_post_create') }}">Create new</a>
        </table>
    </div>



{% endblock %}
